<app-main-nav></app-main-nav>
<ngx-spinner></ngx-spinner>
<div class="container">
  <h3 class="title">Lista dei pesi</h3>
  <button class="btn btn-success" type="button" id="addPeso" (click)="openPopUp(0, peso_add_modify)">Aggiungi peso</button>
  <button class="btn btn-info" type="button" (click)="openStatistiche(statistiche)">Statistiche</button>
  <table class="table table-bordered table-striped">
	<thead class="thead-dark">
      <tr>
        <th class="center_object">Peso</th>
        <th class="center_object">Data</th>
        <th class="center_object">Note</th>
        <th class="center_object">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let peso of pesi | paginate: { itemsPerPage: 5, currentPage: page }">
        <td class="center_object">{{peso.peso}}</td>
        <td class="center_object">{{peso.data}}</td>
        <td class="center_object">{{peso.note}}</td>
        <td class="center_object">
	        <button #modifica class="btn btn-primary fa fa-edit" value="{{peso.id_peso}}" ngbTooltip="Modifica peso" (click)="openPopUp(modifica.value, peso_add_modify)"></button>
            <button #elimina class="btn btn-danger fa fa-trash" value="{{peso.id_peso}}" ngbTooltip="Elimina peso" (click)="deleteNote(elimina.value)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>



<div class="container" [chart]="chart"></div>

<ng-template #peso_add_modify let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          <div *ngIf="id_peso == 0; then aggiungi else modifica"></div>
          <ng-template #aggiungi>Aggiungi peso</ng-template>
          <ng-template #modifica>Modifica peso</ng-template>
      </h4>
  </div>
  <div class="modal-body">
      <form>
      <div class="form-group">
        <label>Peso</label>
        <div class="input-group">
            <input type="number" class="form-control" [(ngModel)]="peso_" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
      <div class="form-group">
        <label>Nota</label>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="note" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
    </form>
  </div>
  	<div class="modal-footer">
      <button type="button" class="btn btn-danger" style="display: inline;" (click)="modal.dismiss()">Annulla</button>
      <div *ngIf="id_peso == 0; then aggiungibtn else modificabtn"></div>
          <ng-template #aggiungibtn><button type="button" class="btn btn-success" (click)="addPeso()">Aggiungi</button></ng-template>
          <ng-template #modificabtn><button type="button" class="btn btn-success" (click)="modifyPeso()">Modifica</button></ng-template>
	</div>
</ng-template>

<ng-template #statistiche let-modal>
  <div class="container">
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"> Statistiche relative al peso</h4>
      </div>
      <div class="modal-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Classificazione</th>
                <th>Peso</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Peso più alto</td>
                <td>{{peso_alto}}</td>
                <td>{{data_alto}}</td>
              </tr>
              <tr>
                  <td>Peso più basso</td>
                  <td>{{peso_basso}}</td>
                  <td>{{data_basso}}</td>
                </tr>
                <tr>
                    <td>Media del peso</td>
                    <td>{{peso_media}}</td>
                    <td></td>
                  </tr>
            </tbody>
          </table>
      </div>
  </div>
</ng-template>