<app-main-nav></app-main-nav>
<div class="container">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Programma completo</h4>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <div class="input-group">
                  <input type="date" class="form-control datepicker" [(ngModel)]="filtro_data" [ngModelOptions]="{standalone: true}" required (input)="onChangeData()" >
              </div>  
          </div>
      </form>
      <div class="col-md-6 offset-md-3">
        <div *ngIf="programmazioni == null; then vuoto else pieno"></div>
        <ng-template #pieno>
            <ul class="timeline" *ngFor="let data of vet_date">
                <li>
                    <h4>{{data}}</h4>
                    <div *ngFor="let programmazione of programmazioni">
                        <div *ngIf="data == programmazione.data; then ok"></div>
                        <ng-template #ok>
                            <p>{{programmazione.nome_esercizio}}: {{programmazione.serie}} x {{programmazione.ripetizioni}} con {{programmazione.carico}} kg <br>Note: {{programmazione.note}}</p>
                        </ng-template>
                    </div>
                </li>
            </ul>
        </ng-template>
        <ng-template #vuoto>
            <h3 class="title">Non è previsto nessun allenamento</h3>
        </ng-template>
      </div>
  </div>
</div>