<app-main-nav></app-main-nav>
<div class="container">
    <div *ngIf="id_specializzazione == 1; then powerlifting else generico"></div>
    <ng-template #powerlifting>
        <div *ngIf="data_ == null; then vuoto else pieno"></div>
        <ng-template #vuoto>
            <h3 class="title">Oggi non è giorno di allenamento, riposati e preparati per domani</h3>
            <div class="col-md-4 text-center"> 
                <button class="btn btn-success" type="button" (click)="view()">Visualizza programma completo</button> 
            </div>
        </ng-template>
        <ng-template #pieno>
            <h3 class="title">Allenamento giornaliero</h3>
            <div class="col-md-4 text-center"> 
                <button class="btn btn-success" type="button" (click)="view()">Visualizza programma completo</button> 
            </div>
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ul class="timeline">
                            <li>
                                <h4>{{data_}}</h4>
                                <p *ngFor="let programmazione of programmazioni">{{programmazione.nome_esercizio}}: {{programmazione.serie}} x {{programmazione.ripetizioni}} con {{programmazione.carico}} kg <br>Note: {{programmazione.note}}</p>
                                <div *ngFor="let programmazione of programmazioni">
                                    <strong>{{programmazione.nome_esercizio}}</strong>: {{programmazione.serie}} x {{programmazione.ripetizioni}} con {{programmazione.carico}} kg
                                    <br>
                                    <div *ngIf="programmazione.note != ''; then note_ok else note_no"></div>
                                    <ng-template #note_ok>
                                        Note: {{programmazione.note}}
                                    </ng-template>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>
    <ng-template #generico>
        <h3 class="title">Allenamento settimanale</h3>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <ul class="timeline" *ngFor="let giorni of vet_giorni">
                        <div *ngIf="max_giorni >= giorni; then giorn else vuoto"></div>
                        <ng-template #giorn>
                            <li>
                                <h4>Giorno {{giorni}}</h4>
                                <p *ngFor="let progressione of progressioniFiltrate(giorni)">
                                    <strong>{{progressione.nome_esercizio}}</strong>: {{progressione.serie}} x {{progressione.ripetizioni}} {{progressione.note}}
                                </p>
                            </li>
                        </ng-template>
                        <ng-template #vuoto></ng-template>
                    </ul>
                </div>
            </div>
        </div>
    </ng-template>
</div>